@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Setting default values for all elements to ensure a consistent styling across the webpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* Defining CSS variables for colors to maintain a consistent color scheme and make it easier to update the colors in the future */
:root {
    --background-color: #f7e4ce;
    --secondary-background-color: #ffe2b7;
    --text-color: #373333;
    --primary-color: #41c6ff;
}

/* Setting the base font size to 62.5% to simplify the use of rem units for responsive design, and hiding horizontal overflow to prevent unwanted scrollbars */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Coloring the body of the webpage */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Defining a fixed header at the top of the page, with a background color, padding, and flexbox layout for the logo and navigation links */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 

/* Styling logo with larger font size and no cursor change on hover */
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}

/* Styling links in the navigation bar, setting transition time for effect on hover */
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 10rem;
    transition: 0.2s;
}

/* Adding changed color on hover and active class for links in navigation bar */
.navbar a:hover,
.navbar a.active {
    color: var(--primary-color);
}

/* Styling the menu icon for mobile view and hiding it by default */
#menu-icon {
    font-size: 2.5rem;
    color: var(--text-color);
    display: none;
}

/* Styling the home section to center its content both horizontally and vertically using flexbox */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the home image to be responsive and take up 35% of the viewport width */
.home-img img {
    width: 35vw;
}

/* Styling h3 elements in the home section with larger font size, medium weight, and text color */
.home-content h3 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--text-color);
}

/* Styling h1 elements in the home section with larger font size, bold weight, and text color */
.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text-color);
}

/* Styling p elements in the home section with larger font size, text color, and margin on top */
.home-content p {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-top: 1rem;
}

/* Styling the social media icons in the home section with  */
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--primary-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--primary-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

/* Adding hover effect to social media icons in the home section */
.social-media a:hover {
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 1rem var(--primary-color);
}