@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Setting default values for all elements to ensure a consistent styling across the webpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* Defining CSS variables for colors to maintain a consistent color scheme and make it easier to update the colors in the future */
:root {
    --background-color: #f7e4ce;
    --secondary-background-color: #ffe2b7;
    --text-color: #373333;
    --primary-color: #41c6ff;
}

/* Setting the base font size to 62.5% to simplify the use of rem units for responsive design, and hiding horizontal overflow to prevent unwanted scrollbars */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Coloring the body of the webpage */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Setting a minimum height for sections to ensure they take up the full viewport height, padding for spacing */
section {
    min-height: 100vh;
    padding: 5% 9% 2rem;
}

/* Defining a fixed header at the top of the page, with a background color, padding, and flexbox layout for the logo and navigation links */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 

/* Styling logo with adapted text properties and no cursor change on hover */
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}

/* Styling links in the navigation bar, transition time for effect on hover */
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 10rem;
    transition: 0.2s;
}

/* Adding changed color on hover and class "active" for links in navigation bar */
.navbar a:hover,
.navbar a.active {
    color: var(--primary-color);
}

/* Styling the menu icon for mobile view and hiding it by default */
#menu-icon {
    font-size: 2.5rem;
    color: var(--text-color);
    display: none;
}

/* Styling the home section to center its content both horizontally and vertically using flexbox */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the home image to take up 35% of the viewport width, rounded edges */
.home-img img {
    width: 35vw;
    border-radius: 15%;
}

/* Styling h3 elements in the home section with adapted text properties */
.home-content h3 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--text-color);
}

/* Adding margin on the bottom of the last h3 element in class "home-content" */
.home-content h3:last-of-type {
    margin-bottom: 2rem;
}

/* Styling span elements to have the primary color */
span {
    color: var(--primary-color);
}

/* Styling h1 elements in the home section with adapted text properties */
.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text-color);
}

/* Styling p elements in the home section with adapted text properties, and margin on top */
.home-content p {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-top: 1rem;
}

/* Styling the social media icons in the home section to be displayed responsively, have rounded colored borders, transition time for hover effect */
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--primary-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--primary-color);
    margin: 2rem 1.5rem 2rem 0;
    transition: 0.3s ease;
}

/* Adding hover effect to social media icons in the home section */
.social-media a:hover {
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 1rem var(--primary-color);
}

/* Styling elements of class btn to be inline-block, have padded rounded border with box-shadow, transition time for hover effect*/
.btn {
    display: inline-block;
    padding: 1.2rem 1.6rem;
    background: var(--primary-color);
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secondary-background-color);
    letter-spacing: .1rem;
    transition: 0.3s ease;
} 

/* Adding hover effect to the button in the home section */
.btn:hover {
    box-shadow: none;
}

/* Styling the about section to center its content both horizontally and vertically using flexbox */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--secondary-background-color);
}

/* Styling the about image to take up 35% of the viewport width, in a circular shape */
.about-img img {
    width: 35vw;
    border-radius: 50%
}

/* Styling elements of class heading to have centered, adapted text*/
.heading {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--text-color);
}

/* Styling the content of section "about" with margin on all sides */
.about-content {
    margin: 2rem 2rem;
}

/* Styling h2 elements in class "about-content" to have left-aligned text and line height for better readability */
.about-content h2 {
    text-align: left;
    line-height: 1.4;
} 

/* Styling h3 elements in class "about-content" with adapted text properties */
.about-content h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

/* Styling p elements in class "about-content" with adapted text properties and margin on top and bottom */
.about-content p {
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 2rem 0 2.5rem;
}
