@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Setting default values for all elements to ensure a consistent styling across the webpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* Defining CSS variables for colors to maintain a consistent color scheme and make it easier to update the colors in the future */
:root {
    --background-color: #f7e4ce;
    --secondary-background-color: #ffe2b7;
    --text-color: #373333;
    --primary-color: #41c6ff;
}

/* Setting the base font size to 62.5% to simplify the use of rem units for responsive design, and hiding horizontal overflow to prevent unwanted scrollbars */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Coloring the body of the webpage */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Setting a minimum height for sections to ensure they take up the full viewport height, padding for spacing */
section {
    min-height: 100vh;
    padding: 5% 9% 2rem;
}

/* ------------------------------ Header styling ----------------------------- */

/* Defining a header at the top of the page, with a background color, padding, and flexbox layout for the logo and navigation links */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Styling logo with adapted text properties and no cursor change on hover */
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}

/* Styling links in the navigation bar, transition time for effect on hover */
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 10rem;
    transition: 0.2s;
}

/* Adding changed color on hover and class "active" for links in navigation bar */
.navbar a:hover,
.navbar a.active {
    color: var(--primary-color);
}

/* Styling the menu icon for mobile view and hiding it by default */
#menu-icon {
    font-size: 2.5rem;
    color: var(--text-color);
    display: none;
}

/* ----------------------------- Home section styling ----------------------------- */

/* Styling the home section to center its content both horizontally and vertically using flexbox */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the home image to take up 35% of the viewport width, rounded edges */
.home-img img {
    width: 35vw;
    border-radius: 15%;
}

/* Styling h3 elements in the home section with adapted text properties */
.home-content h3 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}

/* Adding margin on the bottom of the last h3 element in class "home-content" */
.home-content h3:last-of-type {
    margin-bottom: 2rem;
}

/* Styling span elements to have the primary color */
span {
    color: var(--primary-color);
}

/* Styling h1 elements in the home section with adapted text properties */
.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text-color);
    cursor: default;
}

/* Styling p elements in the home section with adapted text properties, and margin on top */
.home-content p {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-top: 1rem;
    cursor: default;
}

/* Styling the social media icons in the home section to be displayed responsively, have rounded colored borders, transition time for hover effect */
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--primary-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--primary-color);
    margin: 2rem 1.5rem 2rem 0;
    transition: 0.3s ease;
}

/* Adding hover effect to social media icons in the home section */
.social-media a:hover {
    transform: scale(1.1);
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 1rem var(--primary-color);
}

/* Styling elements of class btn to be inline-block, have padded rounded border with box-shadow, transition time for hover effect*/
.btn {
    display: inline-block;
    padding: 1.2rem 1.6rem;
    background: var(--primary-color);
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secondary-background-color);
    letter-spacing: .1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Adding hover effect to the button in the home section */
.btn:hover {
    transform: scale(1.1);
    box-shadow: none;
}

/* ----------------------------- About section styling ----------------------------- */

/* Styling the about section to center its content both horizontally and vertically using flexbox */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--secondary-background-color);
}

/* Styling the about image to take up 35% of the viewport width, in a circular shape */
.about-img img {
    width: 35vw;
    border-radius: 50%
}

/* Styling elements of class heading to have centered, adapted text*/
.heading {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--text-color);
}

/* Styling the content of section "about" with margin on all sides */
.about-content {
    margin: 2rem 2rem;
}

/* Styling h2 elements in class "about-content" to have left-aligned text and line height for better readability */
.about-content h2 {
    text-align: left;
    line-height: 1.4;
}

/* Styling h3 elements in class "about-content" with adapted text properties */
.about-content h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

/* Styling p elements in class "about-content" with adapted text properties and margin on top and bottom */
.about-content p {
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 2rem 0 2.5rem;
}
/* ----------------------------- Projects section styling ------------------ ----------- */

/* Setting background for class "projects" */
.projects {
    background-color: var(--background-color);
}

/* Styling h2 elements in class "projects" to have margin on the bottom */
.projects h2 {
    margin-bottom: 3rem;
}

/* Styling class "projects-container" to be a grid with two columns, centered items and gaps between them */
.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

/* Styling class "projects-box" in "projects-containers" to have relative position in flexbox layout, rounded corners and box-shadow, margin on all sides */
.projects-container .projects-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--primary-color);
    overflow: hidden;
    margin: .5rem 1rem;
    background-color: whitesmoke;
}

/* Styling img elements in class "projects-box" to take up full width of container, transition time for hover effect */
.projects-box img {
    width: 100%;
    transition: 0.5s ease;
}

/* Adding hover effect to img elements in class "projects-box" to slightly zoom in */
.projects-box img:hover {
    transform: scale(1.1);
}

/* Styling class "projects-layer" in "projects-box" in absolute position over the image, background gradient, content centered, transition time for hover effect */
.projects-box .projects-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), var(--primary-color));
    padding: 0 3rem;
    transform: translateY(100%);
    transition: 0.3s ease;
}

/* Adding hover effect to class "projects-layer" in "projects-box" to slide up the layer and reveal the content */
.projects-box:hover .projects-layer {
    transform: translateY(0);
}

/* Styling h4 elements in class "projects-layer" with adapted text properties */
.projects-layer h4 {
    font-size: 3rem;
    color: var(--background-color);
}

/* Styling p elements in class "projects-layer" with adapted text properties and margin on top and bottom */
.projects-layer p {
    font-size: 1.5rem;
    color: var(--background-color);
    margin: 1rem 0 2rem;
}

/* Styling a elements in class "projects-layer" to be inline-flex, centered, with background color, transition time for hover effect */
.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--background-color);
}

/* Styling i elements in a elements in class "projects-layer" to have adapted properties */
.projects-layer a i {
    font-size: 2rem;
    color: var(--primary-color);
}

/* -------------------------------- Contact section styling ----------------------------- */

/* Setting background for class "contact" */
.contact {
    background-color: var(--secondary-background-color);
}

/* Styling h2 elements in class "contact" to have margin on the bottom */
.contact h2 {
    margin-bottom: 2rem;
}

/* Styling form elements in class "contact" to have a maximum width, be centered with margin and align text to center */
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
}

/* Styling class "input-box" in class "contact" to be a flex container with space between items and wrapping for smaller screens */
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Styling input and textarea elements in class "contact" to be full width in container, adapted text properties, color, rounded borders, margin */
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: whitesmoke;
    border: .2rem solid var(--primary-color);
    border-radius: 1rem;
    margin: .5rem 0;

}

/* Styling input elements in class "contact" to take up 49% of the width, allows two inputs to be displayed side by side */
.contact form .input-box input {
    width: 49%;
}

/* Styling textarea elements in class "contact" to have a fixed height and prevent resizing, margin on the bottom */
.contact form textarea {
    resize: none;
     height: 20rem;
    margin-bottom: 1.5rem;
}

/* Adding focus effect to input and textarea elements in class "contact" to change border color and add box-shadow */
.contact form .input-box input:focus,
.contact form textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 1rem var(--primary-color);
}

/* ------------------------------ Footer styling ----------------------------- */

/* Styling class "footer" as flex container with evenly spaced and centered children, wrapping, background color, margin on left and right */
.footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
    text-align: center;
    margin: 0 2rem;
}

/* Styling class "footer-content" in class "footer" with absolute position, adapted text properties */
.footer .footer-content {
    position: absolute;
    left: 2rem;
    font-size: 1.2rem;
    color: var(--text-color);
}

/* Styling class "footer-up" in class "footer" with absolute position */
.footer .footer-up {
    position: absolute;
    right: 2rem;
}

/* Styling a elements in class "footer-icon" and "footer-up" in class "footer" to be inline-flex, centered, with background color, transition time for hover effect */
.footer .footer-icon a,
.footer .footer-up a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--primary-color);
    color: var(--background-color);
    border: .2rem solid var(--primary-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 2rem 1.5rem 2rem 0;
    transition: 0.3s ease;
}

/* Styling a elements in class "footer-up" in class "footer" to have adapted text size, less rounded borders and no margin */
.footer .footer-up a {
    font-size: 2.5rem;
    margin: none;
    border-radius: .5rem;
}

/* Adding hover effect to a elements in class "footer-icon" and "footer-up" in class "footer" to slightly zoom in and add box-shadow */
.footer .footer-icon a:hover,
.footer .footer-up a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem var(--primary-color);
}